{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="twelve columns" style="margin-top: 3%">
			<h4>Christmas tree</h4>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<input type="range" min="0" max="255" value="{{ brightness }}" class="slider" id="myRange", oninput="$.post('/brightness/'+this.value+'/');">
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			{% for mode_id, mode_name, active in mode_list %}
				<button {% if active %}class="button-primary"{% endif %} type="button" onclick="window.location.href='/modes/{{ mode_id }}'">
					{{ mode_name }}
				</button>{% if mode_name == "Direct" %}<br />{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			{% for type, nameL, nameR, highlighted, idPlus, idMinus in animation_list %}
				<button {% if  highlighted %}class="button-primary" {% endif %} onclick="window.location.href='/animation/{{ idPlus }}/'">
					{{ nameL }}
				</button>
			{% endfor %}
		</div>
	</div>
	<table class="u-full-width">
		<thead>
			<!-- intentionally left blank -->
		</thead>
		<tbody>
			<tr><td /><td /></tr>
			{% for type, nameL, nameR, highlighted, idPlus, idMinus in argument_list %}
				{% if type=="button" %}
					<tr>
						<td>{{ nameL }}</td>
						<td>
							<button {% if  highlighted %}class="button-primary" {% endif %} onclick="window.location.href='/animation/{{ idPlus }}/'">
								{{ nameR }}
							</button>
						</td>
					</tr>
				{% elif type=="plusminus" %}
					<tr>
					  	<td>{{ nameL }}</td>
					  	<td>
							<button onclick="window.location.href='/arg/{{ idMinus }}10'"><h5>-10</h5></button>
							<button onclick="window.location.href='/arg/{{ idMinus }}'"><h5>-1</h5></button>
							<button onclick="window.location.href='/arg/{{ idPlus }}'"><h5>+1</h5></button>
							<button onclick="window.location.href='/arg/{{ idPlus }}10'"><h5>+10</h5></button>
						</td>
					</tr>
				{% elif type=="text" %}
					<tr>
						<td>{{ nameL }}</td>
						<td>{{ nameR }}</td>
					</tr>
				{% elif type=="colour" %}
					<tr>
						<td>{{ nameL }}</td>
						<td>
							<!--<input type="text" id="{{ idPlus }}" name="color" value="{{ nameR }}" />-->
							<div id="{{ idPlus }}" style="float: right;"></div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
