[Unit]
Description=Christmas tree controller
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/arduino_tree/tree_master/
ExecStart=/root/arduino_tree/tree_master/controller.py
Restart=always

[Install]
WantedBy=multi-user.target
